# Debugging files
**/.gdb_history
**/flag
**/lib*.i64
**/fs*/
**/vmlinux*

# IDA
**/*.id*
**/*.nam
**/*.til

# BackupFile
**/*-NovaNo1r*

# Archived Games
HGame2023
ACSC2023
西湖论剑2022
强网拟态2022
安洵杯2022
